.showcase .title h1{
	text-align: center;
	font-size: 45px;
}
.showcase button{
	border: none;
	background-color: goldenrod;
}

/* Tracks List */
.showcase .topTracksList #track .largerTrackContainer{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.showcase .topTracksList #track .trackContainer{
	display: flex;
	border: 1.5px solid darkgrey;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;

}

.showcase .topTracksList #track .trackContainer .index{
	width: 10%;
	height: 15%;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0;
	text-align: center;
	font-size: 20px;
}
.showcase .topTracksList #track .trackContainer img{
	width: 70px;
	height: 70px;
	margin-top: auto;
	margin-bottom: auto;
}

.showcase .topTracksList #track .trackContainer .trackData{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	width: 65%;
	margin-bottom: auto;
}
.showcase .topTracksList #track .trackContainer .trackData .trackName{
	font-size: 19px;
	font-weight: bold;
	text-align: left;
	margin: 0;
	padding-bottom: 5px;
}  
.showcase .topTracksList #track .trackContainer .trackData .artistsName{
	font-size: 15px;
	color: dark;
	text-align: left;
	margin: 0;
}  

.showcase .topTracksList #track .trackContainer a{
	height: 10%;
	text-decoration: none;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 17px;
	color: rgb(30, 215, 96);
	font-weight: bold;
}  

/* Artist List */
.showcase .topArtistsList #artist .largerArtistContainer{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.showcase .topArtistsList #artist .artistContainer{
	display: flex;
	border: 1.5px solid darkgrey;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;

}

.showcase .topArtistsList #artist .artistContainer .index{
	width: 10%;
	height: 15%;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0;
	text-align: center;
	font-size: 20px;
}
.showcase .topArtistsList #artist .artistContainer img{
	width: 70px;
	height: 70px;
	margin-top: auto;
	margin-bottom: auto;
}

.showcase .topArtistsList #artist .artistContainer .artistName{
	font-size: 20px;
	color: dark;
	margin: auto;
	font-weight: bold;
}  
