.{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	background-color: antiquewhite;
}

.welcome-header{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.welcome-header a{
	text-decoration: none;
}

.welcome-header h1{
		font-size: 80px;
		font-family: Arial;
		font-weight: bold;
		color: rgb(30, 215, 96);
		margin: 0px;
	}

@media screen and (min-width: 700px){
	.welcome-header h1{
		font-size: 140px;
	}
}

.welcome-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 50px 0px 50px 0px;
	flex: 0 1 auto;
}

@media screen and (min-width: 650px){
	.welcome-buttons{
		padding: 50px 20px 50px 20px;
		justify-content: space-between;
		
	}
  
}
.welcome-buttons button{
	width: 45%;
	height: 4rem;
	border: 1px solid antiquewhite;
	border-radius: 15px;
	font-size: 25px;
	font-family: Arial;
	color: white;
	font-weight: bold;
}
@media screen and (min-width: 700px){
	.welcome-buttons button{
		width: 35%%;
	}
}

.welcome-buttons #btn1{
	background-color: darkred;
}

.welcome-buttons #btn2{
	background-color: darkblue;
}

.welcome-buttons #btn1:hover{
	background-color: palevioletred;
	color: black;
}

.welcome-buttons #btn2:hover{
	background-color: lightblue;
}